
.img-container img {
    max-width: 100%; 
    height: auto;
}

.img-container {
    text-align: center; 
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
h2{
    text-align: left;
}

img{
    padding-bottom: 20px;
}

.project-title,
.intro,
.observations,
.accessibility,
.Sketching,
.style-guide,
.Hi-Fi,
.new-site,
.Major {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 800px) {
    .project-title,
    .intro,
    .observations,
    .accessibility,
    .Sketching,
    .style-guide,
    .Hi-Fi,
    .new-site,
    .Major {
        padding: 10px; /* Reduce padding on smaller screens */
    }
}

body{
    background-color: rgb(206, 216, 227);
}

